*{
    margin: 0;
    padding: 0;
}

/* testing */

/*testing */

.contact{
    background-image: url(../assets/sample11.png);
    height: 100vh;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.contact h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 12vh;
}

.middle{
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
justify-content: center;
width: 100%;
}

.btn1{
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background: #f1f1f1;
  margin: 1rem;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #1100FF;
    overflow: hidden;
    position: relative;
    transition: 1s;
    cursor: pointer;
  }

  .btn1:hover{
    transform: scale(1.2);
    transition: 1s;
    -webkit-box-shadow: 0 40px 70px rgba(0, 0, 0, 0.3), 0 30px 25px rgba(0, 0, 0, 0.22);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.3), 0 30px 25px rgba(0, 0, 0, 0.22);
  }

  .btn1 i{
    line-height: 8rem;
    font-size: 2.6rem;
    transition: 0.2s linear;
  }

  .btn1:hover i{
    transform: scale(1.2);
    color: #f1f1f1;
  }
  .btn1::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #1100FF;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn1:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
/*start responsive */
  @media (max-width: 1024px){
    .contact{
      background-size: 100vw;
    height: auto;
    }

    .middle{
      margin: auto;
      display: flex;
    flex-direction: column;
    align-items: center;
    }

    
  }

  @media only screen and (min-width: 1500px){
    .contact{
        background: white;
    }
}

@media only screen and (min-height: 1000px){
    .contact{
        background: white;
    }
}

@media only screen and (max-width: 600px){
  .contact{
    
  }
}

  /* end responsive */