.faq{
    /* background-image: url(../assets/sample9.png); */
    /* background-size: cover;  */
    /* background-repeat: no-repeat;
    background-position: center center;
    position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
}

.faq h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
  }

.faq-container{
    width: 65%;
    max-width: 60rem;
    padding: 4rem;
}

.faq-container h5{
   font-size: 1rem;
}

#expansion-events-panel p{
    font-size: 1rem;
}

#expansion-events-panel-container{
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 1024px) {
    .faq {
      background-size: 100vw;
      height: auto;
      margin-top: 7rem;
    }
  }
  

@media only screen and (max-width: 800px) {
    .faq-container{
        width: 80%
    }
  }

@media only screen and (max-width: 600px) {
    .faq-container{
        width: 80%;
        margin: none;
        padding: 4rem;
    }
  }
  