* {
  margin: 0;
  padding: 0;
}

/*1500FF*/

.schedule {
  background-image: url(../assets/sample9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30vh;
}

.schedule h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.schedule-container {
  width: 65%;
  max-width: 60rem;
  padding: 4rem;
}

@media only screen and (max-width: 1024px) {
  .schedule {
    background-size: 100vw;
    height: auto;
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 800px) {
  .schedule-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .schedule-container {
    width: 80%;
    margin: none;
    padding: 4rem;
  }
}
