* {
  margin: 0;
  padding: 0;
}

/*1500FF*/

.schedule {
  background-image: url(../assets/sample12.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30vh;
}

.schedule h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.schedule-container {
  width: 65%;
  max-width: 60rem;
  padding: 4rem;
}

@media only screen and (max-width: 1024px) {
  .schedule {
    background-size: 100vw;
    height: auto;
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 800px) {
  .schedule-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .schedule-container {
    width: 80%;
    margin: none;
    padding: 4rem;
  }
}

/* start test style */

/* start schedule download prompt */
.schedule-open-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;

  border-radius: 50px;
  padding: 5rem 0 5rem 0;
  background-color: #000088;
  width: 35vw;
  margin: auto;
  z-index: 10;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.break {
  flex-basis: 100%;
  height: 0;
}

@media only screen and (max-width: 1024px) {
  .schedule-open-container {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .schedule-open-container {
    background: transparent;
    padding: 0rem 0rem 0rem 0rem;
  }
}

@media only screen and (max-width: 350px) {
  .schedule-open-container {
    width: 100vw;
  }
}
