* {
  margin: 0;
  padding: 0;
}

/*1500FF*/

.schedule {
  background-image: url(../assets/sample9.png);
  /* height: auto;
  background-size: cover;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; */
  /* margin-bottom: 30vh; */
}

.schedule h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
}

/* floating animation */
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
