.sponsors {
  background-image: url(../assets/sample9.png);
  min-height: 50vh;
  background-size: cover; /* <------ */
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center center;

  /* height : auto */
  position: relative;
  margin-top: 30vh;
}

.sponsors h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.sponsors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.sponsors-image {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}

.sponsors-image img {
  position: relative;
  width: 20%;
}

#bugsee-logo {
  width: 100%;
  margin: auto;
}

#linode-logo{
  width: 50%;
  margin: auto;
}

#bunch-logo, #linode-logo{
  margin-bottom: 3rem;
}

.sponsors-text {
  flex: 1;
  color: black;
  font-weight: 200;
  width: 50%;
}

.sponsors-text p {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .sponsors-text h2 {
    font-size: 8vh;
  }

  .sponsors-text p {
    font-size: 3vh;
  }
}

@media (max-width: 1024px) {
  .sponsors {
    background-size: 100vw;
    height: auto;
    margin-top: 7rem;
  }
}
/*
    @media only screen and (min-width: 1500px){
        .sponsors{
            background: white;
        }
        
    }

    @media only screen and (min-height: 1000px){
        .sponsors{
            background: white;
        }
    }
*/
@media only screen and (max-width: 600px) {
  .sponsors-image img {
    width: 50%;
  }
}
